.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  gap: 20px;
}

.card-item {
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  border-radius: 10px;
}

.card-img {
  width: 100%;
}

.card-title {
  font-size: 1rem;
}

.card-description {
  display: flex;
  flex-direction: column;
  padding: 20px 10px;
  gap: 8px;
}

.card-description span {
  color: darkred;
}
