@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700&display=swap);

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
header,
footer,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: Lato, sans-serif;
  font-size: 100%;
  line-height: 1;
}

input,
button,
textarea {
  display: block;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: normal;
}

#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

[class*='-container'] {
  width: 100%;
  max-width: 80rem;
  padding: 0 20px;
  margin: 0 auto;
}

header {
  display: flex;
  height: 4rem;
  max-width: 100%;
  background: rgba(8, 66, 140, 0.82);
}

.header-container {
  display: flex;
  align-items: center;
}

h1 {
  margin-right: 1rem;
  font-size: 1.8em;
  font-weight: 300;
  color: #ffffff;
}

.search-bar {
  display: flex;
}

#search {
  width: 25rem;
  height: 2.1rem;
  border: none;
  outline: none;
  border-top-left-radius: 0.6rem;
  border-bottom-left-radius: 0.6rem;
  /*border-radius: 0.6rem;*/
  padding-left: 1rem;
  font-size: 1.2rem;
  color: #444444;
}

input[placeholder] {
  font-size: 0.8rem;
}

.search-btn {
  width: 5rem;
  height: 2.1rem;
  border-top-right-radius: 0.6rem;
  border-bottom-right-radius: 0.6rem;
  background-color: #ffffff;
}

main {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px 0;
}

main div {
  width: 250px;
  height: auto;
  /*padding: 20px 0;*/
}

img {
  width: 100%;
  height: 90%;
  object-fit: cover;
}

h2 {
  font-size: 1rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
  'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bold;
  text-align: center;
  color: #fff;
}

.error-boundary {
  padding: 50px 0;
  text-align: center;
  font-size: 4rem;
  color: darkred;
}